* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    line-height: 150%;
    color: #444;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
/*===========================
  ヘッダー
===========================*/
header {
    width: 100%;
    height: 80px;
    background: #222222;
}
header .site-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    padding-left: 20px;
    text-align: center;
    font-size: 60px;
    font-family: 'Staatliches', cursive;
    line-height: 80px;
}
header h1 a {
    color: #cc6633;
    letter-spacing: 0.08em;
    text-decoration: none;
}
@media screen and (max-width: 414px) {
    header h1 {
        padding-left: 0;
        font-size: 50px;
    }
}
/*===========================
  ナビゲーション
===========================*/
#top-nav {
    height: 90px;
}
@media screen and (max-width: 414px) {
    #top-nav {
        display: none;
    }
}
nav ul {
    display: flex;
}
nav a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
@media screen and (max-width: 414px) {
    nav ul {
        display: block;
        list-style: none;
    }
    nav a {
        color: #111;
    }
}
nav a:hover {
    text-decoration: underline;
}
#top-nav ul {
    position: relative;
    height: 80px;
    list-style: none;
    line-height: 80px;
}
#top-nav-min {
    display: none;
}
@media screen and (max-width: 414px) {
  #top-nav-min {
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(255, 255, 255, 0.85);
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      transition: .5s;
    }
    #top-nav-min.active {
      display: block;
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    } 
}

.menu {
  display: block;
  align-items: center;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}
.menu-item {
    margin-right: 20px; 
}
.menu-link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 15px;
    text-align: center;
}
@media screen and (max-width: 414px) {
    .menu-item {
    margin-right: initial; 
    }
}
.menu-trigger {
    display: none;
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;
}
@media screen and (max-width: 414px) {
    .menu-trigger {
        display: inline-block; 
    }
}
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
    top: 0;
}
.menu-trigger span:nth-of-type(2) {
    top: 14px;
}
.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}
.menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg);
}

/*===========================
  トップ画像
===========================*/
.index {
    width: 100%;
    margin: 0 auto;
}
.indexMain {
    background-image: url(img/open-book-1428428_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}
@media screen and (max-width: 414px) {
    .indexMain {
        height: auto;
    }
}
.main-box {
    width: 100%;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20em 0;
}
.main-box h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Staatliches', cursive;
}
@media screen and (max-width: 414px) {
    .main-box {
        padding: auto;
        padding-top: 50%;
        line-height: 1.2;
    }
}
.btn-index {
    display: block;
    border-radius: 20px;
    padding: 0.7em 0;
    margin: 1em auto;
    width: 200px;
    max-width: 100%;
    text-decoration: none;
    background: #000;
    color: #fff;
    border: none;
    font-size: 0.9em;
    text-align: center;
    opacity: .9;
    transition: all 1s;
    margin-top: 30px;
}
.btn-index:hover {
    cursor: pointer;
    background: #CC6633;
    transition: all 1s;
    transform: translateY(-10px);
}
@media screen and (max-width: 414px) {
    #indexpage footer {
        margin-top: -20px;
    }
}
.top-title br {
    display: none;
}
@media screen and (max-width: 414px) {
    .top-title br {
        display: block;
    }
}
/*===========================
  フッター
===========================*/
#footer a {
    color: #f6f5f5;
}
#footerWrop {
    padding: 15px;
    background: #222222;
    color: #fff;
    text-align: center;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}
/*===========================
  レイアウト
===========================*/
.site-width {
    margin: 0 auto;
    width: 980px;
}
@media screen and (max-width: 414px) {
    .site-width {
        width: auto;
    }
}
.page-2colum .site-width, .page-2colum .site-width.header{
    display: flex;
}
#main {
    min-height: 600px;
}
.page-1colum #main {
    width: 100%;
}
.page-2colum #main {
    width: 70%;
    margin-bottom: 30px;
}
@media screen and (max-width: 414px) {
    .page-2colum #main {
        width: 100%;
    }
}
section h1.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#contents {
    /*overflow: hidden; */
    margin: 20px auto;
    min-height: 650px;
}
.page-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.username {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*=======================================
  プロフィール
=======================================*/
.mydata {
    width: 30%;
}
@media screen and (max-width: 414px) {
    .mydata {
        display: none;
    }
}
.mypanel {
    display: flex;
    padding: 10px;
}
.mypanel img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
}
.mypanel h2 {
    margin-top: 15px;
}
.myname-list {
    padding: 10px;
    background: #f6f5f5;
    overflow-wrap: break-word;
}
.prof-icon {
    width: 280px;
    height: 280px;
    border-radius: 100%;
}
/*=======================================
  サイドメニュー
=======================================*/
.side-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #f6f5f5;
}
.side-menu a{
    display: block;
    margin: 15px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
}
.side-menu a:hover {
    text-decoration: underline;
}
/*=======================================
  投稿
=======================================*/
.recording {
    background: #f6f5f5;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 20px;
    min-height: 30px;
    overflow: hidden;
}
@media screen and (max-width: 414px) {
    .recording {
        margin-left: auto;
    }
}
.record-content h2 {
    margin-top: 10px;
}
.record-content {
    float: left;
    max-width: 550px;
}
.record-img {
    width: 50px;
    height: 50px;
    float: left;
}
.record-img img, .user-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.recording-main {
    background: #f6f5f5;
    width: 680px;
    margin: auto;
    padding: 20px;
}
.recording-comment {
    background: #fbfbfb;
    width: 680px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
}
@media screen and (max-width: 414px) {
    .recording-main, .recording-comment {
        width: auto;
    }
}
.post-wrap {
    margin-left: 70px;
}
.post-wrap p {
    overflow-wrap: break-word;
}
.post-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.post-foot i {
    margin-right: 10px;
}
.post-foot a {
    text-decoration: none;
}
.btn-comment, .btn-good {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
    cursor: pointer;
}
.btn-box {
    text-align: right;
}
.open {
    cursor: pointer;
}
.open-no {
    color: #444;
    cursor: default;
    pointer-events: none;
}
.container-con label {
    text-align: left;
}
/*===========================
  ユーザーページ
===========================*/
.sp-username {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    padding: 15px;
}
.post-info {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.post-info a {
    color: #333;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}
.post-info a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 414px) {
    .userpage .mydata {
        display: block;
    }
    .myname-list, .side-menu {
        display: none;
    }
    .mydata {
        width: auto;
    }
    .userpage .prof-icon-wrap {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 414px) {
    .page-2colum .site-width {
        display: block;
    }
}
/*========================================
  ボタン
========================================*/

.btn {
    padding: 15px 20px;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}

.btn.btn-primary {
    background: #b6a489;
    color: white;
}

.btn .btn-mid {
    max-width: 150px;
}
/*========================================
  フォーム
========================================*/
label{
    display: block;
}
label.err input, label.err select{
    background: #f7dcd9;
}
input[type="text"], input[type="password"], input[type="number"], input[type="time"], .form select{
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    background: #f6f5f5;
    display: block;
}
textarea {
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: none;
    background: #f6f5f5;
    display: block;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: #f6f5f5;
}
input[type="submit"] {
    font-size: 14px;
    margin: 15px 0;
    padding: 15px 30px;
    width: 100%;
    border: none;
    background: #222222;
    color: white;
}
select:hover,
input[type="submit"]:hover {
    cursor: pointer;
}
.form-container {
    margin: 0 auto;
}
.page-1colum .form-container{
    margin: 100px auto;
}
.form {
    margin: 0 auto;
    padding: 30px;
    width: 400px;
    border: 5px solid #C0C0C0;
}
.form-container2 .form {
    width: 500px;
}
@media screen and (max-width: 414px) {
    .form {
        width: auto;
    }
    .form-container2 .form {
        width: auto;
    }
}
.form .title {
    margin-bottom: 40px;
    text-align: center;
}
.form p {
    margin-bottom: 10px;
}
.form .btn-container {
    overflow: hidden;
}
.form .btn {
    float: right;
}
.form .area-msg{
    padding: 0 0 15px 0;
    color: red;
}
.form .area-drop{
    margin-bottom: 15px;
    width: 100%;
    height: 300px;
    background: #f6f5f4;
    color: #ccc;
    text-align: center;
    line-height: 300px;
    position: relative;
    box-sizing: border-box;
}
.form .input-file{
    opacity:0;
    width:100%;
    height:300px;
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
}
.form .prev-img{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.form .imgDrop-container{
    width: 100%;
    box-sizing: border-box;
}
/*========================================
  ページネーション
========================================*/
.pagination {
    position: relative;
    overflow: hidden;
}
.pagination-list {
    position: relative;
    left: 50%;
    float: left;
    padding-left: 0;
    list-style: none;
}
.pagination .list-item {
    position: relative;
    left: -50%;
    float: left;
    margin-right: 5px;
}
.pagination .list-item:last-child {
    margin-right: 0;
}
.pagination .list-item a {
    display: block;
    padding: 5px 10px;
    background: #eee;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.pagination .list-item.active a {
    background: #333;
    color: white;
}
.pagination .list-item a:hover {
    background: #333;
    color: white;
}
/*=====================================
 アイコン
=====================================*/
i {
    color: #8a2be2;
}
.fas {
    color: #e7a0c5;
}
.my-big {
    font-size: 1.2em;
    /* アイコンの大きさを1_2倍に */
}
/*=====================================
  その他
=====================================*/
.msg-slide {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: rgba(255,255,255,0.9);
    background: rgba(204,102,51,0.6);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}